.dvkhero{
    display: flex;
}


.article-brand{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    color: #31315b;
    margin-bottom: 8px;
}
.article-title{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 60px;
    font-weight: 200;
    line-height: 72px;
    font-weight: 300;   
}
.article-subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 16px;
    color: #9b9b9b;   
    margin-bottom: 32px;
    margin-top: 8px;
}

.article-body{
    background-color: #fff;
    margin-top: 1px;
    max-height: 100%;
    overflow: hidden;
    position: relative;  
}

.acticle-component{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin: 16px 0;
}
.atricle-img-left{
    float: left;
    width: 20%;
    margin-right: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.atricle-img-left:hover{
    width: 80%;
}
.atricle-img-right{
    float: right;
    width: 20%;
    margin-left: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.atricle-img-right:hover{
    width: 80%;
}

.artical-comp-title{
    text-align: left;
    margin-bottom: 30px;
    margin-top: 85px;
}

.autor-galery{
    display: flex;
}
.galery-item{
    width: 100px;
    /* height: 100px; */
    padding-right: 40px;
    /* padding: 0 11px 55px;
    overflow: hidden; */
    margin-right: 25px;
}  
.galery-item-image{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;  
}
.autor-img{
    vertical-align: top;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.galery-item-title{
    padding-top: 6px;
    font-size: 12.5px;
    line-height: 140%;
    text-align: center; 
    width: 100px; 
    height: 100px; 
}

.plant-galery{
    display:flex;
    justify-content: center;
    margin-top: 45px;
}
.plant-galery-item{
    width: auto;
    height: auto;
    padding: 20px;
}
.plant-img{
    width: 250px;
}
.plant-galery-description{
    padding: 20px;
}
.main-description{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin: 16px 0;

}